<h2>Robot Models</h2>
<li *ngFor="let robomodel of robomodel_descs.descriptions">
    <button [class.selected]="robomodel === selected_desc" type="button" (click)="onSelect(robomodel)">
        <span class="name">{{robomodel.name}}</span>
    </button>
</li>

<div *ngIf="selected_desc">
    <div>Details</div>
    <div> id: {{selected_desc.id}} </div>
    <div> name: {{selected_desc.name}} </div>
    <div>Number of Joints: {{selected_desc.num_joints}} </div>
    <div>Number of Links: {{selected_desc.num_links}} </div>
    <div>Number of End Effectors: {{selected_desc.num_end_effectors}} </div>

</div>